<!-- temporizador/templates/temporizador/timer.html -->
{% load static %} <!-- Necesario para cargar archivos estáticos -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporizador Pomodoro</title>
    <link rel="stylesheet" href="{% static 'temporizador/css/timer.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <div class="navar">Barra de navegacion</div>
    <div class="timer-container">
        <div class="titulo">Pomodoro</div>

        <button class="boton-configuracion">
            <i id="openModalBtn" class="fas fa-stopwatch"></i> 
        </button>

        <div class="timer" id="timer">0:25</div>
        <div id="nextSession" ></div>
        <div class="contenedorBoton">
            <button id="startBtn" class="boton-pomodoro"><i class="fas fa-play"></i> <span></span></button>
        </div>
        <div class="">
            <button id="resetBtn" class="boton-reinicio"> <i
                    class="fas fa-rotate-left"></i> <span></span></button>
        </div>

    </div>

    <div class="calendario">calendario</div>
    <div class="tareas"> Tareas</div>
    <div class="musica"> Musica</div>



    <div id="timeModal" class="modal">
        <div class="modal-content">
            <h2>Selecciona un tiempo</h2>
            <label for="timeSelect"><strong>Duración total:</strong></label>
            <select id="timeSelect">
                <option value="1800">30 min </option>
                <option value="3600">60 min</option>
                <option value="5400">90 min </option>
                <option value="7800">130 min</option>
                <option value="9600">200 min</option>
                <option value="11100">190 min</option>
                <option value="13200">220 min</option>
                <option value="14700">245 min</option>
            </select>
            <p id="breakCount" style="font-weight: bold; margin-top: 10px;"></p>
            <br><br>
            <button id="setTimeBtn">Establecer tiempo</button>
        </div>
    </div>

    <script src="{% static 'temporizador/js/timer.js' %}"></script>

</body>

</html>